[DacDac]
# Scan y-axis: dac1, x-axis: dac2, using n_triggers
dac1 = VthrComp
dac2 = CalDel
n_triggers = 10

[PHScan]
# Scan pulseheight versus dac using n_triggers
dac = Vcal
n_triggers = 10

[Calibrate]
# Sends n_triggers
n_triggers = 10

[MaskTest]
# Sends n_triggers to masked pixels
n_triggers = 1

[BondMap]
# Sends n_triggers, doing a threshold map to find missing bonds
n_triggers = 10

[Threshold]
# Threshold map in dac using n_triggers.
# cals: Calibrate via sensor, xtalk: cross-talk via neibouring pixels
# reverse: scan threshold from high to low values
#dac = Vcal
dac = VthrComp
cals = False
xtalk = False
reverse = False
n_triggers = 5

[Trim]
# Find trim values for DUT using n_triggers.
# Vcal: target Vcal value
# Vtrim, VthrComp can be determined automatically (-1) 
# or set via this config
Vcal = 40
n_triggers = 2
Vtrim = -1
VthrComp = -1

[SCurves]
# Write SCurveData scanning the dac using n_triggers.
dac = Vcal
n_triggers = 50

[PHCalibration]
# Do phCalibration using n_triggers.
# points_lowrange are for CtrlReg=0
# points_lowrange are for CtrlReg=4
n_triggers = 10
points_lowrange = 50,100,150,200,250
points_highrange = 30,50,70,90,200

[PHMap]
# PulseHeight map using average PH of n_triggers.
n_triggers = 10

[TrimBits]
# Trim bit test map using n_triggers.
# Vcal is used for trim =15
# VtrimX is used for trim to X
Vcal = 50
Vtrim15 = 0
Vtrim14 = 255
Vtrim13 = 200
Vtrim11 = 180
Vtrim7 = 140
n_triggers = 5

[HRMap]
#data aquisition time (seconds)
data_taking_time = 2
#trigger rate 1/(40ns*period)
period = 1288 
#trigger-token-delay
ttk = 32
#clock stretch factor, not yet implemented
scc = 1

[CurrentScan]
dac = VthrComp
current = digital
delay = 0
