H1        {color: brown}
H2        {color: darkgreen}
H3        {color: orange}
H4        {color: darkblue}
BODY      {background: white; color: black}
A:link    {color: mediumblue; text-decoration: none}
A:visited {color: darkblue; text-decoration: none} 
A:active  {color: red; text-decoration: none}
A:hover   {color: blue; text-decoration: none}
TABLE     {background: #FFFFCC; border-color: #FF5121}
